src/wsdl/service.wsdl

<definitions name="WalletService"
    targetNamespace="http://www.example.org/wallet/"
    xmlns:tns="http://www.example.org/wallet/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.xmlsoap.org/wsdl/">

    <message name="registroClienteRequest">
    <part name="documento" type="xsd:string"/>
    <part name="nombres" type="xsd:string"/>
    <part name="email" type="xsd:string"/>
    <part name="celular" type="xsd:string"/>
    </message>

    <message name="registroClienteResponse">
        <part name="mensaje" type="xsd:string"/>
        <part name="codigo" type="xsd:int"/>
    </message>

    <message name="recargarBilleteraRequest">
        <part name="documento" type="xsd:string"/>
        <part name="celular" type="xsd:string"/>
        <part name="valor" type="xsd:decimal"/>
    </message>

    <message name="recargarBilleteraResponse">
        <part name="mensaje" type="xsd:string"/>
        <part name="codigo" type="xsd:int"/>
        <part name="saldo" type="xsd:decimal"/>
    </message>

    <message name="pagarRequest">
        <part name="documento" type="xsd:string"/>
        <part name="celular" type="xsd:string"/>
        <part name="monto" type="xsd:decimal"/>
    </message>

    <message name="pagarResponse">
        <part name="mensaje" type="xsd:string"/>
        <part name="codigo" type="xsd:int"/>
        <part name="sessionId" type="xsd:string"/>
    </message>

    <message name="confirmarPagoRequest">
        <part name="sessionId" type="xsd:string"/>
        <part name="token" type="xsd:string"/>
    </message>

    <message name="confirmarPagoResponse">
        <part name="mensaje" type="xsd:string"/>
        <part name="codigo" type="xsd:int"/>
    </message>

    <message name="consultarSaldoRequest">
        <part name="documento" type="xsd:string"/>
        <part name="celular" type="xsd:string"/>
    </message>

    <message name="consultarSaldoResponse">
        <part name="saldo" type="xsd:decimal"/>
        <part name="mensaje" type="xsd:string"/>
        <part name="codigo" type="xsd:int"/>
    </message>

    <portType name="WalletServicePortType">
        <operation name="registroCliente">
            <input message="tns:registroClienteRequest"/>
            <output message="tns:registroClienteResponse"/>
        </operation>
        <operation name="recargarBilletera">
            <input message="tns:recargarBilleteraRequest"/>
            <output message="tns:recargarBilleteraResponse"/>
        </operation>
        <operation name="pagarCompra">
            <input message="tns:pagarRequest"/>
            <output message="tns:pagarResponse"/>
        </operation>
        <operation name="confirmarCompra">
            <input message="tns:confirmarPagoRequest"/>
            <output message="tns:confirmarPagoResponse"/>
        </operation>
        <operation name="consultarSaldo">
            <input message="tns:consultarSaldoRequest"/>
            <output message="tns:consultarSaldoResponse"/>
        </operation>
    </portType>

    <binding name="WalletServiceBinding" type="tns:WalletServicePortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="registroCliente">
            <soap:operation soapAction="http://www.example.org/wallet/registroCliente"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="recargarBilletera">
            <soap:operation soapAction="http://www.example.org/wallet/recargarBilletera"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="pagarCompra">
            <soap:operation soapAction="http://www.example.org/wallet/pagarCompra"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="confirmarCompra">
            <soap:operation soapAction="http://www.example.org/wallet/confirmarCompra"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="consultarSaldo">
            <soap:operation soapAction="http://www.example.org/wallet/consultarSaldo"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="WalletService">
        <port name="WalletServicePort" binding="tns:WalletServiceBinding">
            <soap:address location="http://localhost:3000/soap"/>
        </port>
    </service>
</definitions>
